.resume {
    display: flex;
    flex-direction: row;
    position: relative;
}

.resume__edu,
.resume__exp {
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding: 20px;
}

.resume__eduicon,
.resume__expicon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resume__eduicon img,
.resume__expicon img {
    width: 30px;
    height: 30px;
    margin-right: 1em;
}

.resume__eduicon p,
.resume__expicon p {
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.time {
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.3);
}

.resume::after,
.item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: radial-gradient(ellipse at left, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

.resume__edu {
    position: relative;
}

.resume__edu::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    right: 0;
    background: radial-gradient(ellipse at left, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

.name {
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.name:hover {
    color: black;
    text-decoration: none;
}

.position {
    font-weight: 500;
    font-size: 18px;
    color: black;
    opacity: .7;
    margin-bottom: 1rem;
}

.resume__myskill {
    flex-wrap: wrap;
    flex: 100%;
}

.myskill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    flex: 100%;
}

.skill {
    display: flex;
    flex: 50%;
    padding: 20px;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
}

.skill__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.skill__icon img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.skills {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
}

.skill::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    right: 0;
    background: radial-gradient(ellipse at left, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

.skill__icon span {
    font-size: 20px;
}

.skill__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 100%;
    justify-content: space-between;
    padding-top: .5rem;
    margin-bottom: 1rem;
    position: relative;
}

.skill__main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: radial-gradient(ellipse at left, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

.skill__main label {
    margin: 0 1rem 0 0;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    z-index: 2;
}

.skill__main--dot div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
