.word {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.word .title {
    width: 50%;
}

.word__menu {
    flex: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    padding: 20px;
}

.word__menu li {
    list-style-type: none;
    cursor: pointer;
}

.word__main {
    padding: 20px;
    position: relative;
}

.word__main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: radial-gradient(ellipse at left, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul .items {
    list-style-type: none;
    display: flex;
    flex: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    height: auto;
    position: relative;
}

.items::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    right: 0;
    background: radial-gradient(ellipse at left, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

.items::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background: radial-gradient(ellipse at left, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

.item__photo img,
.item__video img,
.item__design img {
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
}

.item__photo span,
.item__design span,
.item__video span {
    font-weight: 600;
}

.item__video iframe {
    height: auto;
    width: 100%;
}

.item__video img,
.item__photo img,
.item__design img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.item__video iframe {
    height: 80%;
}

.item__video img:hover {opacity: 0.7;}
.item__photo img:hover {opacity: 0.7;}
.item__design img:hover {opacity: 0.7;}

/* The Modal (background) */
.zoom,
.zoom1,
.zoom3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, .caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}