.word {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.word .title {
    width: 50%;
}

.word__menu {
    flex: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    padding: 20px;
}

.word__menu li {
    list-style-type: none;
    cursor: pointer;
}

.word__main {
    flex: 100%;
    padding: 20px;
}